* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5efe9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* scroll-behavior: auto; */
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #ffffff;
  display: flex;
  height: 95vh;
  width: 85vw;
  border-radius: 20px;
  margin-left: 40px;
  margin-top: 5px;
  box-shadow: 0 0 10px #4d2f2ffc;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.logo {
  width: 31px;
  height: auto;
  margin-top: 9px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  margin-top: -1px;
}

.sidebar {
  background-color: rgb(255, 113, 109);
  height: 85vh;
  width: 140px;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
}

/* .sidebar {
  background-color: #ff6f61;
  width: 130px;
  height: 100vh;
  padding: 20px;
  color: white;
  font-family: Arial, sans-serif;
} */

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidebar-item a {
  color: white;
  text-decoration: solid;
  font-size: 11px;
  display: flex;
  align-items: center;
  margin-left: 14px;
  margin-top: 8px;
}

.sidebar-item a:hover {
  color: #ffe0e0;
}

.badge {
  background-color: rgb(144, 109, 109);
  color: #ffffff;
  border-radius: 15%;
  padding: 1px 8px;
  margin-left: 15px;
}

.sidebar-footer {
  position: absolute;
  bottom: 20px;
  left: 6px;
  right: 10px;
  background-color: #fff5f3;
  color: #ff6f61;
  padding: 0px;
  border-radius: 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  padding-top: 13px;
}

.p1 {
  font-weight: bold;
}

.p2 {
  font-size: 12px;
}

.footer-content p {
  margin: 5px 0;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 50;
}

.search-bar {
  background-color: #f4f1ef;
  display: flex;
  align-items: center;
  height: 40px;
  width: 250px;
  border-radius: 10px;
  margin: 10px 0;
  padding-left: 15px;
  margin-left: 130px;
}

.search-icon {
  width: 16px;
  height: 16px;
}

.search-text {
  margin-left: 10px;
  color: #333;
  font-family: Arial, sans-serif;
}

.content {
  background-color: #ffffff;
  flex-grow: 1;
  border-radius: 20px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  margin-left: 40px;
  /* line-height: 8px; */
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #cecf6c;
  font-family: Arial, sans-serif;
} */

.dashboard-section {
  background-color: #fff;
  height: 40vh;
  width: 40vw;
  border-radius: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  padding: 10px;
  padding-left: 100px;
}

.metrics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
}

.metric {
  text-align: center;
}

.metric p {
  margin: 0;
  color: #888;
  font-size: 0.8em;
}

.metric h2 {
  margin: -3px;
  color: #333;
  font-size: 0.9em;
}

.metric span {
  color: green;
  font-size: smaller;
  font-size: 0.5em;
}

.metric-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon {
  width: 13px;
  /* Adjust the size as needed */
  height: 13px;
  /* Adjust the size as needed */
  margin-right: 8px;
  /* Adjust the spacing as needed */
}

.avg-watch-time-icon {
  width: 18px;
  height: 18px;
}

.profile-growth {
  text-align: center;
  display: flex;
  justify-content: space-between;
  /* padding-left: 200px; */
  margin-bottom: -20px;
  margin-top: -10px;
}

.profile-growth h3 {
  margin: 0;
  color: #333;
  font-size: 0.8em;
}

.profile-growth p {
  color: #aaa;
  margin-bottom: 20px;
  font-size: 0.7em;
}

.box {
  background-color: rgb(255, 113, 109);
  border-radius: 10px;
  width: 80px;
  height: 35px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 5px;
  margin-left: 200px;
}

.box h1 {
  font-size: 10px;
  margin: 0;
  font-weight: normal;
  padding-bottom: 10px;
}

.box span {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 20px;
  margin-top: -20px;
}

.chart {
  display: flex;
  align-items: flex-end;
  height: 150px;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  padding-left: 20px;
  /* padding-bottom: 20px; */
  position: relative;
}

.bar {
  width: 15px;
  margin-right: 20px;
  text-align: center;
  color: white;
  background-color: rgb(255, 113, 109);
  border-radius: 50px;
}

.bar-1 {
  height: 30%;
  margin-bottom: 10px;
}

.bar-2 {
  height: 40%;
  margin-bottom: 20px;
}

.bar-3 {
  height: 20%;
  margin-bottom: 10px;
  background-color: rgb(251, 205, 189);
}

.bar-4 {
  height: 60%;
  margin-bottom: 30px;
}

.bar-5 {
  height: 30%;
  margin-bottom: 10px;
  background-color: rgb(251, 205, 189);
}

.bar-6 {
  height: 30%;
  margin-bottom: 20px;
}

.bar-7 {
  height: 45%;
  margin-bottom: 10px;
  background-color: rgb(251, 205, 189);
}

.bar-8 {
  height: 30%;
  margin-bottom: 20px;
}

.bar-9 {
  height: 40%;
  margin-bottom: 10px;
  background-color: rgb(251, 205, 189);
}

.bar-10 {
  height: 50%;
  margin-bottom: 30px;
}

.bar-11 {
  height: 30%;
  margin-bottom: 30px;
  background-color: rgb(251, 205, 189);
}

.bar-label {
  margin-top: -20px;
  color: #333;
}

.axis-label {
  position: absolute;
  font-size: 14px;
  color: #333;
}

.y-axis-label {
  /* top: -40px; */
  left: -50px;
  /* transform: rotate(-90deg); */
  transform-origin: center;
}

.x-axis-labels {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  /* padding-left: 20px; */
  margin-top: 10px;
  font-size: 10px;
  margin-left: 15px;
}

.x-axis-label {
  text-align: center;
  /* width: 50px; */
  margin-right: 18px;
}

.y-grid-line {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px dashed #999;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.y-grid-label {
  position: absolute;
  left: -30px;
  transform: translateX(-100%);
  margin-right: 10px;
  font-size: 12px;
  color: #333;
}

.toggle-btn {
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  padding: 3px 8px;
  margin: 0 5px;
  cursor: pointer;
}

.toggle-btn.active {
  background-color: #ff716d;
  color: #fff;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
} */

.header {
  display: flex;
  margin-bottom: -10px;
}

.profile-section {
  display: flex;
  align-items: center;
  width: 250px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: auto;
  margin-top: 5px;
  margin-right: 25px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info {
  flex-grow: 1;
}

.profile-name {
  margin: 0;
  font-weight: bold;
  color: #333;
}

.profile-role {
  margin: 0;
  font-size: 12px;
  color: #aaa;
}

.profile-menu {
  margin-left: auto;
}

.menu-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.third-section {
  display: flex;
  flex-direction: column;
  height: 36vh;
  width: 46vw;
  padding: 17px;
  /* background-color: #fff; */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  margin-left: -34px;
  margin-top: -28px;
}

.top-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.top-section .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 105px;
  padding: 10px;
  /* background-color: #e7dbdb; */
  color: #fff;
  border-radius: 14px;
  text-align: center;
  margin: -41px -14px;
}

.top-section .card span {
  font-size: 16px;
  font-weight: bold;
}

.table-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.table-section .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
}

.table-section .row span {
  flex: 1;
  text-align: center;
}

.table-section .row .status {
  padding: 5px 10px;
  border-radius: 20px;
}

.status.pending {
  background-color: rgb(227, 227, 227);
  font-size: 0.7em;
  margin-left: 18px;
  color: black;
 
}
 
.status.done {
  background-color: rgb(227, 227, 227);
  font-size: 0.7em;
  margin-left: 18px;
  color: black;
}
 
.status.testing {
  background-color: rgb(227, 227, 227);
  font-size: 0.7em;
  margin-left: 18px;
  color: black;
}

.card {
  display: flex;
  align-items: center;
  padding: 20px;
  /* border: 1px solid #eee; */
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.card-icon {
  /* background-color: #FF6F61; pink color */
  /* padding: 20px; */
  /* border-radius: 12px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.card-icon img {
  width: 32px;
  height: 32px;
}

.card-content {
  margin-left: 4px;
}

.card-title {
  font-size: 5px;
  color: #6c757d;
  margin: 0px;
}

.card-number {
  font-size: 32px;
  font-weight: bold;
  color: #343a40;
  margin: 5px 0;
}

.card-percentage {
  font-size: 5px;
  color: #28a745;
  margin: 0;
}

.span-text {
  font-size: 0.7em;
  color: #aaa;
}

.span-text-dots {
  font-weight: bold;
  color: #aaa;
  margin-left: -11;
}

.full-section {
  display: flex;
  flex-direction: row;
}

.right-section {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stat-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* border: 1px solid #eee; */
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  width: 100%;
  max-width: 500px;
  margin: -15px 0px;
}

.stat-card1 {
  margin-top: 5px;
}

.stat-content {
  flex-grow: 1;
}

.stat-title {
  font-size: 11px;
  color: #6c757d;
  margin: 0;
}

.stat-number {
  font-size: 18px;
  font-weight: bold;
  color: #343a40;
  margin: 5px 0;
}

.stat-icon {
  width: 25px;
  height: 25px;
  background-color: #FF6F61;
  /* pink color */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-icon img {
  width: 15px;
  /* Adjust size as needed */
  height: auto;
}

/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
} */

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2px;
  margin-bottom: 10px;
}

.month,
.week,
.dates {
  display: flex;
  align-items: flex-end;
}

.day {
  width: 30px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-size: 12px;
  color: #333;
}

.day .date {
  font-weight: bold;
}

.highlighted {
  background-color: #f0f0f0;
  border-radius: 21%;
  padding: 5px;
  margin-right: 30px;
}

.tall {
  height: 70px;
  background-color: #ffe6e6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.short {
  height: 50px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.current {
  background-color: #ff6666;
  color: #fff;
  border-radius: 20%;
}

/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
} */

.audit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin-left: 21px;
  /* Adjust as needed */
  margin-top: -16px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  color: #333;
  margin-bottom: -20px;
}

.date-range {
  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 10px;
  font-size: 10px;
}

.circular-progress {
  position: relative;
  width: 80px;
  height: 80px;
  /* background-color: #ffe6e6; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
 
.circular-progress::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #ff6666;
  border-top: 5px solid transparent;
  animation: spin 2s linear infinite;
  box-sizing: border-box;
}
 
.inner-circle {
  width: 30px;
  /* Adjust inner circle size */
  height: 30px;
  /* background-color: #fff; */
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ff6666;
    padding: 11px;
    position: relative;
}
.inner-dot {
  position: absolute;
  width: 5px; /* Adjust size as needed */
  height: 5px;
  border-radius: 50%;
  background-color: white; /* Adjust color as needed */
  top: 5px; /* Adjust position as needed */
  left: 50%;
  /* transform: translateX(-300%); */
  translate: -28px 3.8px;
  z-index: 2; /* Ensures it stays above the spinning border */
  border: 1px solid #ff6666;
}
.percentage {
  font-size: 15px;
  /* color: #ff6666; */
  color: white;
  font-weight: bold;
}
 
.label {
  font-size: 8px;
  /* color: #ff6666; */
  color: white;
  font-weight: bold;
}
 
.access-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -10px;
}
.access-percentage {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.access-label {
  font-size: 10px;
  color: #666;
}

.progress-bar {
  width: 80%;
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.progress {
  width: 38%;
  height: 100%;
  background-color: #ff6666;
}

.analytics-col {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 23px;
}

.analytics {
  margin-right: 120px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: small;
}

.dots {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-top: -10px;
}

.dots div {
  margin-bottom: -15px;
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

.dark-mode-icon {
  cursor: pointer;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  /* Adjust container size as needed */
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
  margin-left: -96px;
}

.circle {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #3b3b4f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -200px;
  margin-left: -162px; */
}

.half-circle {
  position: absolute;
  width: 5px;
  height: 10px;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}



@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 90vw;
  }

  .sidebar {
    width: 150px;
  }

  .main-content {
    margin-left: 170px;
  }
}


@media (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .body {
    overflow: scroll;
    height: max-content;
    display: flex;
    flex-direction: column;
    width: auto;
    /* scroll-behavior: auto; */
  }

  .full-section {
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .sidebar-menu {
    display: flex;
    flex-direction: row;
    display: none;
  }

  .sidebar-footer {
    position: sticky;
    display: none;
  }

  .container {
    width: 95vw;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 16px;
    /* height: auto; */
    scroll-behavior: auto;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    margin-left: -12px;
  }

  .main-content {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 94vw;
  }

  .search-bar {
    width: 100%;
    margin-left: 19px;
  }

  .dashboard-section {
    padding-left: 36px;
  }

  .chart {
    margin-left: 123px;
  }

  .bar {
    margin-right: 10px;
  }

  .x-axis-labels {
    margin-left: 116px;
  }

  .x-axis-label {
    margin-right: 8px;
  }

  .card {}
}